body {
    display: flex;
    flex-direction: row;
}
.sec {
    background-color: #88c1d0;
    width: 30vh;
    height: 20vh;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5vh;
}
@media (max-width: 1599px) and (min-width: 768px){
body {
    display: flex;
    flex-wrap: wrap;
}
}
@media (max-width: 767px){
    body{
        display: flex;
        flex-direction: column;
    }
}